﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoomService</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <link href="~/css/login.css" rel="stylesheet" />

</head>

<body>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>

        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAll">Users</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="GetAll">Reservations</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="GetAll">Rooms</a>
                </li>
                @if (User.IsInRole("Client") || User.IsInRole("User"))
                {
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="GetUserAll">Reservations</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAccount">MyAccount</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" id="logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="nav-link text-dark" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                    </li>
                }

            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <nav class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #dfa974">
                                My Room
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAll">Users</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="GetAll">Reservations</a>
                                        </li>
                                    }

                                    @if (User.IsInRole("User"))

                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="GetUserAll">My Rooms</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="GetAll">Rooms</a>
                                        </li>
                                    }

                                    @if (User.IsInRole("Client") || User.IsInRole("User"))
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="GetUserAll">Reservations</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAccount">My Account</a>
                                        </li>
                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" id="logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="nav-link text-dark" id="showLog" data-toggle="modal" data-target="#modalLog">Login</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="modal" id="modalLog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="login-reg-panel">
            <div class="login-info-box">
                <h2>Have an account?</h2>
                <br /><br />
                <label id="label-register" for="log-reg-show">Login</label>
                <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
            </div>

            <div class="register-info-box">
                <h2>Don't have an account?</h2>
                <br /><br />
                <label id="label-login" for="log-login-show">Register</label>
                <input type="radio" name="active-log-panel" id="log-login-show">
            </div>


            <div class="white-panel">

                <div class="login-show">
                    <h2>
                        LOGIN
                    </h2>
                    <input type="text" placeholder="Email" id="form-email">
                    <input type="password" placeholder="Password" id="form-pass">
                    <input type="button" value="Login" id="btnLogin">
                    <a href="">Forgot password?</a>
                    @Html.AntiForgeryToken()
                </div>

                <div class="register-show">
                    <h2>
                        REGISTER
                    </h2>
                    <div class="row">
                        <div class="col">
                            <input type="text" placeholder="Firstname" id="fname">
                        </div>
                        <div class="col">
                            <input type="text" placeholder="Lastname" id="lname">
                        </div>
                    </div>
                    <input type="text" placeholder="Email" id="mail" style="margin-top:0">
                    <input type="password" placeholder="Password" id="pass">
                    <input type="password" placeholder="Confirm Password" id="confpass">

                    <div class="form-check form-check-inline"><p>Please select your role:</p></div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="2" value="2" name="Role" checked>
                        <label class="form-check-label" for="2">Client</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="3" value="3" name="Role">
                        <label class="form-check-label" for="3">User</label>
                    </div>

                    <input type="button" value="Register" id="btnReg">
                </div>
            </div>
        </div>
    </div>
    <!-- Header Section End -->
    <!-- Body Section Begin -->

    <div style="min-height:calc(100% - 170px); display:flex; flex-direction:column;">
        <main role="main" class="pb-3" style="flex:1 1 auto">
            @RenderBody()
        </main>
    </div>

    <!-- Body Section End -->
    <!-- Footer Section Begin -->

    <footer class="footer-section">
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script>
        $(document).ready(function () {

            $('.login-info-box').fadeOut();
            $('.login-show').addClass('show-log-panel');

            var securityToken = $('[name=__RequestVerificationToken]').val();
            $(document).ajaxSend(function (event, request, opt) {
                if (opt.hasContent && securityToken) {   // handle all verbs with content
                    var tokenParam = "__RequestVerificationToken=" + encodeURIComponent(securityToken);
                    opt.data = opt.data ? [opt.data, tokenParam].join("&") : tokenParam;
                    // ensure Content-Type header is present!
                    if (opt.contentType !== false || event.contentType) {
                        request.setRequestHeader("Content-Type", opt.contentType);
                    }
                }
            });

            $("#btnLogin").click(function ()
            {
                Log();
            });


            $("#modalLog").keypress(function (e) {
                if (e.keyCode == 13) {
                    Log();
                }
            });

            $("#3").click(function () {
                $("#2").prop('checked', false);
                if ($("#2").prop('checked', false)) { $("#3").prop('checked', true); }
            });
            $("#2").click(function () {
                $("#3").prop('checked', false);
                if ($("#3").prop('checked', false)) { $("#2").prop('checked', true); }
            });

            $("#btnReg").click(function ()
            {
                Reg();
            });

            function Log() {

                if (CheckLog(true)) {

                    var n = $("#form-email").val();
                    var a = $("#form-pass").val();

                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("Login", "Account")",
                            data:
                            {
                                Email: n,
                                Password: a,
                            },
                            success: function (result) {
                                 if (result) {
                                    window.location.reload();
                                }
                                 else { alert("Invalid Login or Password"); }
                            }
                        }
                    );
                }
            };

            function Reg() {
                 var f = $("#fname").val();
                  var l = $("#lname").val();
                  var p = $("#pass").val();
                  var e = $("#mail").val();
                var cp = $("#confpass").val();

                if ($("2").prop('checked')) {var r = 2;
                }
                else {var r = 3;};

                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("Register", "Account")",
                        data:
                        {
                            Firstname: f,
                            Lastname: l,
                            Email: e,
                            Password: p,
                            ConfirmPassword: cp,
                            Role: r,
                        },
                        success: function () {
                            alert("ok");
                            window.location.reload();
                        }
                    }
                );
            };

            function CheckLog() {

                var myEmail = document.getElementById("form-email");
                var myPass = document.getElementById("form-pass");
                if (myEmail.value !== "" && myPass.value !== "") {
                    return true;
                }
                else {
                    alert("Enter email and password");
                    return false;
                };
            };

            $('.login-reg-panel input[type="radio"]').on('change', function () {
            if ($('#log-login-show').is(':checked')) {
                $('.register-info-box').fadeOut();
                $('.login-info-box').fadeIn();

                $('.white-panel').addClass('right-log');
                $('.register-show').addClass('show-log-panel');
                $('.login-show').removeClass('show-log-panel');

            }
            else if ($('#log-reg-show').is(':checked')) {
                $('.register-info-box').fadeIn();
                $('.login-info-box').fadeOut();

                $('.white-panel').removeClass('right-log');

                $('.login-show').addClass('show-log-panel');
                $('.register-show').removeClass('show-log-panel');
            }


        });
        });

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>


</html>


