﻿@using WebApp.Models
@model UserInfo

<div>
    <form asp-action="Update" asp-controller="User">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" style="width:150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span class="font-weight-bold">@Model.Firstname</span>
                        <span class="text-black-50">@Model.Email</span>
                        <span> </span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels" asp-for="Firstname">Name</label>
                                <input type="text" asp-for="Firstname" class="form-control" placeholder="@Model.Firstname" value="@Model.Firstname">
                                <span asp-validation-for="Firstname" />
                            </div>

                            <div class="col-md-6">
                                <label class="labels" asp-for="Lastname">Surname</label>
                                <input type="text" asp-for="Lastname" class="form-control" value="@Model.Lastname" placeholder="@Model.Lastname">
                                <span asp-validation-for="Lastname" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels" asp-for="Phone">Mobile Number</label>
                                <input type="text" asp-for="Phone" class="form-control" placeholder="@Model.Phone" value="@Model.Phone">
                                <span asp-validation-for="Phone" />
                            </div>

                            <div class="col-md-12">
                                <label class="labels" asp-for="Adress">Address</label>
                                <input type="text" asp-for="Adress" class="form-control" placeholder="@Model.Adress" value="@Model.Adress">
                                <span asp-validation-for="Adress" />
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center" style="align-content:center">
                        <button class="btn btn-primary profile-button" type="submit" id="btnsubmit">Save Profile</button>
                        @*@Html.ActionLink("Delete Profile", "Delete", "User", new { Id = Model.Id }, new { id = "btndelete", type = "button", @class = "btn btn-primary profile-button" })*@
                        <button class="btn btn-primary profile-button" type="button" id="btndelete">Delete Profile</button>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts
{
    <script>
        $(document).ready
            (
                $('#btnsubmit').click(
                    function () {
                        window.location.href="/User/GetAccount";
                    }
                ),

                  $('#btndelete').click(
                      function () {

                          var id = @Model.Id;

                          $.ajax({
                              type: "POST",
                              url: "@Url.Action("Delete", "User")",
                              data: {
                                  number: id,
                              },
                              success: function (result)
                              {
                                  if (result) {
                                      alert("Success");
                                      window.location.href = "/Account/Logout";
                                  }
                                  else { alert("Failed!"); }
                              }
                          })
                      }
                  )
            );
    </script>
}
