﻿@model WebApp.Models.LoginModel

<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/login.css" rel="stylesheet" />

</head>

<body>

    
    <div class="container">

        <!------ Include the above in your HEAD tag ---------->

        <div class="login-reg-panel">
            <div class="login-info-box">
                <h2>Have an account?</h2>
                <br /><br />
                <label id="label-register" for="log-reg-show">Login</label>
                <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
            </div>

            <div class="register-info-box">
                <h2>Don't have an account?</h2>
                <br /><br />
                <label id="label-login" for="log-login-show">Register</label>
                <input type="radio" name="active-log-panel" id="log-login-show">
            </div>

            <div class="white-panel">

                <div class="login-show">

                    <h2>LOGIN</h2>
                    <input type="text" placeholder="Email" id="form-email">
                    <input type="password" placeholder="Password" id="form-pass">
                    <input type="button" value="Login" id="btnLogin">
                    <a href="">Forgot password?</a>
                    @Html.AntiForgeryToken()
                </div>
                <div class="register-show">
                    <h2>REGISTER</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Confirm Password">
                    <input type="button" value="Register">
                </div>
            </div>
        </div>

    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>

</body>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $('.login-info-box').fadeOut();
            $('.login-show').addClass('show-log-panel');

            var securityToken = $('[name=__RequestVerificationToken]').val();
            $(document).ajaxSend(function (event, request, opt) {
                if (opt.hasContent && securityToken) {   // handle all verbs with content
                    var tokenParam = "__RequestVerificationToken=" + encodeURIComponent(securityToken);
                    opt.data = opt.data ? [opt.data, tokenParam].join("&") : tokenParam;
                    // ensure Content-Type header is present!
                    if (opt.contentType !== false || event.contentType) {
                        request.setRequestHeader("Content-Type", opt.contentType);
                    }
                }
            });

        $("#btnLogin").click(function ()
        {
            var n = $("#form-email").val();
            var a = $("#form-pass").val();
            $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("Login", "Account")",
                        data:
                        {
                            Email: n,
                            Password: a,
                        },
                    success: function () {
                        alert("ok");
                        window.location.href = "/Home/Index"
                        }
                    }
            );
        });


        $('.login-reg-panel input[type="radio"]').on('change', function () {
            if ($('#log-login-show').is(':checked')) {
                $('.register-info-box').fadeOut();
                $('.login-info-box').fadeIn();

                $('.white-panel').addClass('right-log');
                $('.register-show').addClass('show-log-panel');
                $('.login-show').removeClass('show-log-panel');

            }
            else if ($('#log-reg-show').is(':checked')) {
                $('.register-info-box').fadeIn();
                $('.login-info-box').fadeOut();

                $('.white-panel').removeClass('right-log');

                $('.login-show').addClass('show-log-panel');
                $('.register-show').removeClass('show-log-panel');
            }


        });

        });

    </script>
}


