﻿@model WebApp.Models.RegisterModel

<h2>Регистрация</h2>
  
  <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Firstname">Введите имя</label><br />
                <input type="text" asp-for="Firstname" />
                <span asp-validation-for="Firstname" />
            </div>
            <div>
                <label asp-for="Lastname">Введите фамилию</label><br />
                <input type="text" asp-for="Lastname" />
                <span asp-validation-for="Lastname" />
            </div>
            <div>
                <label asp-for="Email">Введите Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>

                <p>Please select your role:</p>
                <div>
                    <input type="radio" asp-for="Role" id="2" name="Role" value="2" checked>
                    <label for="2">User</label>

                    <input type="radio" asp-for="Role" id="3" name="Role" value="3">
                    <label for="3">Client</label>
                </div>

            <div>
                <br /><input type="submit" value="Регистрация" />
            </div>
        </div>
    </form>