﻿@using WebApp.Models
@model List<ReservationInfo>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date-in</th>
            <th scope="col">Date-out</th>
            <th scope="col">Room</th>
            <th scope="col">Adress</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 1;}

        @foreach (var reservation in Model)
        {

            <tr>
                <th scope="row">@i</th>
                <td>@reservation.StartTime.ToLongDateString()</td>
                <td>@reservation.EndTime.ToLongDateString()</td>
                <td>@reservation.Room</td>
                <td>@reservation.Adress</td>
            </tr>
            i++;
        }

    </tbody>
</table>

