﻿@using WebApp.Models
@model List<RoomInfo>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">




</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                @foreach (var room in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            @if (room.Pictures.Count == 0)
                            {
                                <img src="~/pictures/room/no_image.jpg" style="width: 360px; height: 233.51px; border: 1px solid #ebebeb;"/>
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(room.Pictures.First().File))" style="width: 360px; height: 233.51px;"/>
                            }
                            <div class="ri-text">
                                <h4>@room.Name</h4>
                                <h3>@room.ActualPrice<span>/Pernight</span></h3>
                                <a href="#">@Html.ActionLink("More detais", "GetInfo", "Room", new { Id = room.Id }, new { type = "button", @class = "primary-btn" })</a>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </section>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>