﻿@using WebApp.Models
@model RoomInfo

<!DOCTYPE html>

<head>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <!--Css Styles-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <div id="carouselRoom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @if (Model.Pictures.Count == 0)
                                {
                                    <img src="~/pictures/room/no_image.jpg" style="width: 770px; height: 440px; border: 1px solid #ebebeb;" />
                                }
                                else
                                {
                                    <div class="carousel-item active">
                                        <img class="img-fluid" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Pictures.First().File))" style="width:770px; height:440px;">
                                    </div>

                                    @for (var pic = 1; pic < Model.Pictures.Count; pic++)
                                    {

                                        <div class="carousel-item">
                                            <img class="img-fluid" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Pictures[pic].File))" style="width:770px; height:440px;">
                                        </div>
                                    }
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselRoom" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselRoom" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="rd-text">
                            <div class="rd-title">
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                </div>
                            </div>
                            <h2>@Model.ActualPrice<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">
                                Motorhome or Trailer that is the question for you. Here are some of the
                                advantages and disadvantages of both, so you will be confident when purchasing an RV.
                                When comparing Rvs, a motorhome or a travel trailer, should you buy a motorhome or fifth
                                wheeler? The advantages and disadvantages of both are studied so that you can make your
                                choice wisely when purchasing an RV. Possessing a motorhome or fifth wheel is an
                                achievement of a lifetime. It can be similar to sojourning with your residence as you
                                search the various sites of our great land, America.
                            </p>
                            <p>
                                The two commonly known recreational vehicle classes are the motorized and towable.
                                Towable rvs are the travel trailers and the fifth wheel. The rv travel trailer or fifth
                                wheel has the attraction of getting towed by a pickup or a car, thus giving the
                                adaptability of possessing transportation for you when you are parked at your campsite.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Your Reservation</h3>
                        <form action="#" data-ajax="true" data-ajax-method="POST">
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" class="date-input" id="date-in" autocomplete="off">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" class="date-input" id="date-out" autocomplete="off">
                                <i class="icon_calendar"></i>
                            </div>
                            @if ((User.Identity.IsAuthenticated))
                            {
                                <button class="reg" type="submit" id="@Model.Id">Booking now</button>
                            }
                            else
                            {
                                <button class="reg" type="button" id="not-authent">Booking now</button>
                            }
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="alert-heading">Well done!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
        </div>
    </div>>






    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

</body>

@section Scripts
{

    <script>
        $(document).ready(function () {

        var roomid = null;
        var dstart = null;
        var dend = null;

        $(".reg").click(function () {

            roomid = $(this).attr("id");
            dstart = $('#date-in').val();
            dend = $('#date-out').val();

            $.ajax({
                    url: "@Url.Action("Create", "Reservation")",
                    async: true,
                    type: "POST",
                    //dataType: "http",
                    data:
                    {
                        roomId: roomid,
                        start: dstart,
                        end: dend,
                    },
                    success: function (result)
                    {
                        if (result)
                        {
                            $("#myModal").modal("show");
                            //window.location.reload();
                        }

                    },
            });
        });

            $("#not-authent").click(function () {
                alert("Please authorise to submit your order.");
            })

        })
    </script>
}