﻿@using WebApp.Models
@model List<RoomInfo>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a href="#" data-toggle="modal" data-target="#createModal">
                        <div class="room-item">
                            <img src="~/pictures/room/room-6.jpg" alt="" />
                            <div class="ri-text">
                                <h4 style="text-align: center">Add New</h4>
                                <div class="row"></div>
                            </div>
                        </div>
                    </a>
                </div>

                @foreach (var room in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            @if (room.Pictures.Count == 0 )
                            {
                            <img src="~/pictures/room/no_image.jpg" style="width: 360px; height: 233.51px; border: 1px solid #ebebeb;" />
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(room.Pictures.First().File))" style="width: 360px; height: 233.51px;" />
                            }
                            <div class="ri-text">
                                <h4>@room.Name</h4>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="primary-btn" data-toggle="modal" data-target="#editteModal" id="editModalLabel" onclick="ConfirmEdit(@room.Id)">Edit</a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="primary-btn" data-toggle="modal" data-target="#deleteModal" id="showModal" onclick="Confirm(@room.Id)">Delete</a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="primary-btn" data-toggle="modal" data-target="#imgModal" id="showModal" onclick="ConfirmImg(@room.Id)">Image</a>
                                    </div>

                                    <div class="col" style="width:40%">
                                        @Html.ActionLink("Details", "GetInfo", "Room", new { Id = room.Id }, new { type = "button", @class = "primary-btn" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!--Create-->
    <div class="modal fade" id="createModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Add room</h2>
                </div>

                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rName">Name</label>
                            <input type="email" class="form-control" id="rName" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rPrice">Price</label>
                            <input type="text" class="form-control" id="rPrice" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rAdress">Address</label>
                        <input type="text" class="form-control" id="rAdress" placeholder="Address">
                    </div>

                    <div class="form-group">
                        <label for="rDescr">Description</label>
                        <textarea class="form-control" id="rDescr" rows="3"></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <a href="#" id="btnSave" class="" style="margin-right:10px">Save</a>
                    <a href="#" id="btnCancel" class="" data-dismiss="modal" aria-label="Close">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!--End-->

    <!--Edit-->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Edit room</h2>
                </div>

                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="editName">Name</label>
                            <input type="email" class="form-control" id="editName" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editPrice">Price</label>
                            <input type="text" class="form-control" id="editPrice" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editAdress">Address</label>
                        <input type="text" class="form-control" id="editAdress" placeholder="Address">
                    </div>

                    <div class="form-group">
                        <label for="rDescr">Description</label>
                        <textarea class="form-control" id="rDescr" rows="3"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" id="btnEditSave" class="" style="margin-right:10px">Save</a>
                    <a href="#" id="btnCancel" class="" data-dismiss="modal" aria-label="Close">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!--End-->

    <!--Delete-->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Confirm</h2>
                </div>
                <div class="modal-body">
                    <h3>Are you want to delete this room?</h3>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" id="btnDelete" class="" style="margin-right:10px">Delete</a>
                        <a href="#" id="btnCancelDelete" class="" data-dismiss="modal" aria-label="Close">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->

    <!--Add Image-->
    <div class="modal fade" id="imgModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Confirm</h2>
                </div>


                <form asp-action="SaveImg" asp-controller="Room" method="post" enctype="multipart/form-data">
                   
                    <div class="modal-body">
                         <div class="form-group">
                            <label for="FormControlFile">File input</label>
                            <input name="picFile" type="file" class="form-control-file" id="FormControlFile">
                            <input name="RoomId" type="hidden" id="roomId" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button class="form-button" id="btnSaveImg" type="submit"  style="margin-right:10px">Save</button>
                            <button class="form-button" type="reset" id="btnCancelImg"  data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--End-->

    <input type="hidden" id="roomId" />




    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var n = null;
            var a = null;
            var p = null;

            $("#btnSave").click(function () {

                n = $("#rName").val();
                a = $("#rAdress").val();
                p = $("#rPrice").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "Room")",
                    data:
                    {
                        Name: n,
                        Adress: a,
                        ActualPrice: p,
                    },
                    success: function () {
                        window.location.reload();
                    }
                });
            })

            $("#editModalLabel").click(function () {
                $("#editModal").modal("show");
            })

            $("#btnDelete").click(function () {

                var Id = $("#roomId").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Room")",
                    data:
                    {
                        id: Id,
                    },
                    success: function (result) {

                        if (result) {
                            $("#deleteModal").modal("hide");
                            $("#roomId").val(null);
                            window.location.href = "/Room/GetUserAll";
                        }
                        else { alert("Failed!"); }
                    }
                });
            })

            $("#btnEditSave").click(function () {

                Update()
            })

            function i(result)
            {

                if (result) {
                    $("#imgModal").modal("hide");
                    $("#roomId").val(null);
                    window.location.reload;
                }
                else {
                    alert("Failed!")
                };
            }
          
        });

        var Confirm = function (id) {
            $("#roomId").val(id);
            $("#deleteModal").modal("show");
        }


        var ConfirmEdit = function (id) {
            $("#roomId").val(id);
            $("#editModal").modal("show");
        }

        function Update() {

            var Id = $("#roomId").val();
            var n = $("#editName").val();
            var a = $("#editAdress").val();
            var p = $("#editPrice").val();



             $.ajax({
                 type: "POST",
                 url: "@Url.Action("Update", "Room")",
                 data:
                 {
                     id: Id,
                     Name: n,
                     Adress: a,
                     ActualPrice: p,

                 },
                 success: function (result) {

                     if (result) {
                         $("#editModal").modal("hide");
                         $("#roomId").val(null);
                         window.location.href = "/Room/GetUserAll";
                     }
                     else { alert("Failed!"); }
                 }
             });
        }

        var ConfirmImg = function (id) {
            $("#roomId").val(id);
            $("#imgModal").modal("show");
        }

    </script>
}