﻿@using WebApp.Models.Room
@model BufferImage


<form asp-action="SaveImg" asp-controller="Room" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input name="picFile" type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Добавить" />
</form>

<a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="GetImage">Picture</a>


@*<p>
    <label>Имя</label>
    <input name="Name" class="form-control" />
</p>
<p>
    <label>Image</label>
    <input name="file" type="file" class="form-control-file" />
</p>
<p>
    <input type="submit" value="Добавить" />
</p>*@